<div>
    <h2>
        <span jhiTranslate="reservationApp.creneau.home.title">Creneaus</span>
        <button class="btn btn-primary float-right jh-create-entity create-creneau" [routerLink]="['/', { outlets: { popup: ['creneau-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="reservationApp.creneau.home.createLabel">
            Create new Creneau
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="creneaus">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="reservationApp.creneau.heure">Heure</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let creneau of creneaus ;trackBy: trackId">
                <td><a [routerLink]="['../creneau', creneau.id ]">{{creneau.id}}</a></td>
                <td>{{creneau.heure}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../creneau', creneau.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'creneau/'+ creneau.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button *jhiHasAnyAuthority="'ROLE_ADMIN'" type="submit"
                                [routerLink]="['/', { outlets: { popup: 'creneau/'+ creneau.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
